*{
  padding: 0;
  margin: 0;
  text-decoration: none;
}
body{
  background: #000 !important;
}

/*----------------------------------------NavigationBar---------------------------------------------*/
.nav {
  height: 60px;
  width: 100%;
  top: 0px;
  z-index: 99!important;
  background: #111;
  position: fixed;
}

.nav .nav-header {
  display: inline;
}

.nav .nav-header .nav-logo img{
  height: 65px;
  padding: 10px 10px 10px 20px;
}

.nav .nav-btn {
  display: none;
}

.nav .nav-links {
  float: right;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  padding-right: 20px;
}
.nav .nav-links  a {
  padding: 8px 15px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-top: 4px;
}

.nav .nav-links a:hover {
  border-radius: 8px;
  color: #7f0000;
  box-shadow: 0 0 8px #fff,
              0 0 8px #fff;

}

.nav .nav-links .active{
  color: #7f0000;
}

.nav #nav-check {
  display: none;
}

#hiddenbtn{
  width: 50%;
  height: 100vh;
  background: green;
  display: none;
  left: 0;
  position: absolute;
  opacity: 0;
}

@media (max-width:1100px) {
  .nav .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav .nav-btn > label {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 16px;
  }
  .nav .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav .nav-btn > label > span {
    display: block;
    width: 32px;
    height: 12px;
    border-top: 2.5px solid #7f0000;
  }
  .nav .nav-links {
    position: absolute;
    display: inline-block;
    width: 220px;
    height: 0px;
    overflow-y: hidden;
    top: 60px;
    right: 0px;
    background: #111;
    transition: 0.75s ease;
  }

  .nav .nav-links a{
    width: 100%;
  }

  .nav .nav-links a:hover {
    box-shadow: none;
  }
  .nav #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav #nav-check:checked ~ .nav-links {
    height: 100vh;
    width: 50%;
    overflow-y: auto;
  }
  .nav #nav-check:checked ~ #hiddenbtn{
    display: block;
  }
}

.nav #profile a{
  padding: 8px 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  font-size: 25px;
  font-weight: 700;
  background: #222;
  border-radius: 10px;
  line-height: 35px;
  margin: 5px 15px 5px 0;
}

.nav #profile a:hover{
  border-radius: 8px;
  color: #7f0000;
  box-shadow: 0 0 8px #fff,
              0 0 8px #fff;
}

@media (max-width:1100px){
  .nav #profile{
    position: absolute;
    right: 50px;
  }
}


/*----------------------------------------Landing page---------------------------------------------*/

#main_sect{
  margin-top: 100px;
}

#main_sect .container h1{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
  font-size: 60px;
  font-weight: 900;
  text-decoration: underline #7f0000 dashed;
}

.main-div{
  border: 1px solid #7f0000;
  background: #111;
  border-radius: 10px;
  padding: 0 20px;
}


#main_sect .container p{
  color: #fff;
  text-align: left;
  margin-top: 20px;
  font-size: 20px;
}

#main_sect .container ul{
  color: #fff;
  text-align: left;
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
}

#main_sect .container ul li span{
  color: #7f0000;
  font-weight: 700;
}

#main_sect .container .btn{
  background: #7f0000;
  padding: 15px;
  border-radius: 26px;
  color: #fff;
  font-size: 18px;
  margin-top: 50px;
}

#main_sect .container .btn:hover{
  background: #fff;
  color: #7f0000;
}

.visitor_counter{
  margin-top: 50px;
}

.visitor_counter h3{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 700;
  text-decoration: underline #7f0000 dashed;
}

.visitor_counter h4{
  color: #7f0000;
  font-size: 50px;
  font-weight: 600;
}

#footer{
  margin-top: 60px;
  border-top: 1px solid #333;
  bottom: 0;
  left: 0;
  right: 0;
  position: relative;
}

#footer .container h6{
  margin-top: 20px;
  color: #333;
}