*{
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body{
  background: #000 !important;
}

/*----------------------------------------NavigationBar---------------------------------------------*/
.nav {
  height: 60px;
  width: 100%;
  top: 0px;
  z-index: 99!important;
  background: #111;
  position: fixed;
}

.nav .nav-header {
  display: inline;
}

.nav .nav-header .nav-logo img{
  height: 65px;
  padding: 10px 10px 10px 20px;
}

.nav .nav-btn {
  display: none;
}

.nav .nav-links {
  float: right;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  padding-right: 20px;
}
.nav .nav-links  a {
  padding: 8px 15px;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-top: 4px;
}

.nav .nav-links a:hover {
  border-radius: 8px;
  color: #7f0000;
  box-shadow: 0 0 8px #fff,
              0 0 8px #fff;

}

.nav #nav-check {
  display: none;
}

#hiddenbtn{
  width: 50%;
  height: 100vh;
  background: green;
  display: none;
  left: 0;
  position: absolute;
  opacity: 0;
}

@media (max-width:900px) {
  .nav .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav .nav-btn > label {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 16px;
  }
  .nav .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav .nav-btn > label > span {
    display: block;
    width: 32px;
    height: 12px;
    border-top: 2.5px solid #7f0000;
  }
  .nav .nav-links {
    position: absolute;
    display: inline-block;
    width: 220px;
    height: 0px;
    overflow-y: hidden;
    top: 60px;
    right: 0px;
    background: #111;
    transition: 0.75s ease;
  }

  .nav .nav-links a{
    width: 100%;
  }

  .nav .nav-links a:hover {
    box-shadow: none;
  }
  .nav #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav #nav-check:checked ~ .nav-links {
    height: 100vh;
    width: 50%;
    overflow-y: auto;
  }
  .nav #nav-check:checked ~ #hiddenbtn{
    display: block;
  }
}


/*----------------------------------------Landing page---------------------------------------------*/

#main_sect{
  margin-top: 100px;
}

#main_sect .container h1{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
  font-size: 60px;
  font-weight: 900;
  text-decoration: underline #7f0000 dashed;
}
.contact-form{
  padding: 15px;
}

.form-control{
  border: none !important;
  background: #111!important ;
}

::placeholder{
  color: #a7a7a7 !important;
}

#main_sect .container .btn-sbmt{
  background: #7f0000;
  padding: 10px;
  border-radius: 26px;
  color: #fff;
  font-size: 18px;
  border: none;
}

#main_sect .container .btn-sbmt:hover{
  background: #fff;
  color: #7f0000;
}

.form_element{
  border-radius: 6px;
  padding: 10px;
  margin: 15px;
  background: #111;
  color: #fff;
  font-size: 20px;
}

#main_sect .container .fa-facebook-f{
  font-size: 25px;
  color: #7f0000;
  border: 2px solid #7f0000;
  padding: 5px 10px;
  border-radius: 8px;
  margin: 0 15px;
}

#main_sect .container .fa-instagram{
  font-size: 25px;
  color: #7f0000;
  border: 2px solid #7f0000;
  padding: 5px 8px;
  border-radius: 8px;
  margin: 0 15px;
}

#main_sect .container .fa-whatsapp{
  font-size: 25px;
  color: #7f0000;
  border: 2px solid #7f0000;
  padding: 5px 8px;
  border-radius: 8px;
  margin: 0 15px;
}

#main_sect .container .map{
  margin-top: 15px;
}

#main_sect .container .btn{
  background: #7f0000;
  padding: 15px;
  border-radius: 26px;
  color: #fff;
  font-size: 18px;
  margin-top: 50px;
}

#main_sect .container .btn:hover{
  background: #fff;
  color: #7f0000;
}



#footer{
  margin-top: 60px;
  border-top: 1px solid #333;
  bottom: 0;
  left: 0;
  right: 0;
  position: relative;
}

#footer .container h6{
  margin-top: 20px;
  color: #333;
}