@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  overflow: hidden;
}
body {
  font-family: 'Roboto', sans-serif;
}
.navbar-top{
  position: fixed;
  top: 0;
  height: 70px;
  background: #042331;
  width: 100%;
  z-index: 990;
}
.navbar-top .logo img{
  height:70px; 
  padding: 8px 20px 10px 20px;
}
.navbar-top .tagline h1{
  color: #DC171D;
  position: fixed;
  top: 0;
  line-height: 70px;
  margin-left: 40%;
  font-size: 50px;
  font-weight: 700;
}
.navbar-top .tagline span{
  color: #fff;
}
@media (max-width: 767px) {
  .navbar-top .tagline{
    display: none;
  }
}

.sidebar {
  position: fixed;
  right: -250px;
  width: 250px;
  top: 0;
  height: 100%;
  background: #042331;
  transition: all .5s ease;
  z-index: 999;
}
.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #063146;
  user-select: none;
  color: #DC171D;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
ul li:hover a{
  color: #DC171D;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #042331;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  right: 20px;
  top: 12px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
  z-index: 995;
  position: fixed;
  background: #063146;
}
label #cancel{
  z-index: 1111;
  right: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  right:  0;
}
#check:checked ~ label #btn{
  right: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  right: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}
section{
  background: url(bg.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}
